.popup {
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
/*
В фигме немного некорректно заданы отступы. Хром отсчитывает нижние отступы
от нижней точки текста (т.е, например, от строчной буквы "р"), а
в фигме отступ вычислен от заглавной буквы "Р". По этой причине, если я ставлю
отступы с макета, не получается PixelPerfect.
*/
