.popup__field {
  margin-top: 30px;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  min-width: 358px;
  height: 27px;
  background-color: #fff;
  padding: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  padding-bottom: 13px;
  box-sizing: border-box;
}
.popup__field:first-of-type {
  margin-top: 54px;
}
@media screen and (max-width: 540px) {
  .popup__field {
    min-width: 238px;
  }
  .popup__field:first-of-type {
    margin-top: 75px;
  }
}
